Repository spotbugs/spotbugs, pull requests merged in 2020-06, with the labels that each got.

#1133 ci: Move more process from Travis to GitHub Actions
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/secring.gpg
  .github/workflows/spotbugs.jks.gpg
  .gitignore
  .travis.yml
  .travis/secring.gpg.enc
  .travis/spotbugs.jks.enc
  .travis/travis_wait
  README.md
  build.gradle
  gradle.properties
  gradle/maven.gradle
  gradle/sonar.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew.bat
  settings.gradle
Labels: build

#1132 ci: Automate the process to create a GitHub Release page
  .github/workflows/release.yml
  build.gradle
Labels: build

#1153 Fx release build in the master branch
  .github/workflows/release.yml
  build.gradle
Labels: build

#1152 Explain about tasks generated to each sourceSet
  docs/gradle.rst
Labels: documentation

#1156 Remove "refs/tags/" from the name of tag
  .github/workflows/release.yml
Labels: build

#1162 Update dependencies
  CHANGELOG.md
  spotbugs/build.gradle
Labels: build

#1167 Fix typo in bug description
  spotbugs/etc/messages.xml
Labels: documentation

#1171 Ensure the Eclipse plugin contains spotbugs.jar
  .github/workflows/build.yml
  .github/workflows/release.yml
  CHANGELOG.md
  eclipsePlugin/build.gradle
Labels: bug, build

#1172 Use GitHub Secrets only when they are accessible
  .github/workflows/build.yml
Labels: build

#1174 Bump up org.sonarqube plugin to 3.0
  build.gradle
Labels: build

#1065 introduce new SpotBugs Gradle Plugin
  build.gradle
  eclipsePlugin-test/build.gradle
  eclipsePlugin/build.gradle
  gradle/java.gradle
  gradle/wrapper/gradle-wrapper.jar
  spotbugs-annotations/build.gradle
  spotbugs/build.gradle
  spotbugsTestCases/build.gradle
Labels: build
