Repository spotbugs/spotbugs, pull requests merged in 2021-09, with the labels that each got.

#1631 Add field "text" to the object message in result (SARIF)
  CHANGELOG.md
  spotbugs/src/main/java/edu/umd/cs/findbugs/sarif/BugCollectionAnalyser.java
  spotbugs/src/main/java/edu/umd/cs/findbugs/sarif/Message.java
  spotbugs/src/main/java/edu/umd/cs/findbugs/sarif/SarifBugReporter.java
  spotbugs/src/test/java/edu/umd/cs/findbugs/sarif/SarifBugReporterTest.java
Labels: sarif

#1687 Add a link to spotbugs-intellij-plugin
  README.md
  docs/links.rst
  docs/locale/ja/LC_MESSAGES/links.po
Labels: documentation

#1664 docs: minor description updates
  docs/locale/ja/LC_MESSAGES/bugDescriptionList.po
  docs/locale/ja/LC_MESSAGES/bugDescriptions.po
  spotbugs/etc/messages.xml
Labels: documentation

#1712 build: try beta release of gradle plugin
  build.gradle
Labels: build
